*.iml
.gradle
/local.properties
/.idea
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.tmp/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
caches/
daemon/
jdks/
kotlin-profile/
native/
wrapper/
android/